@model UcusRez.Models.Kayit
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_GirisLayout.cshtml";
}

<section class="form-26">
	<div class="form-26-mian">
		<div class="layer">
			<div class="wrapper">
				<div class="form-inner-cont">
					<div class="forms-26-info">
						<h2>Giriş Yap</h2>

					</div>
					<div class="form-right-inf">
						<p style="color:red;">@ViewBag.error</p>
						
						<form action="Login" method="post" class="signin-form">
							<div class="forms-gds">
								<div class="form-input">
									<input type="email" asp-for="KayitMail" placeholder="Email" required />
								</div>
								<div class="form-input">
									<input type="password" asp-for="KayitPassword" placeholder="Şifre" required />
								</div>
								<div class="form-input"><button class="btn">Giriş Yap</button></div>
							</div>
							<h6 class="already"> Hesabınız yok mu? <a href="Register"><span>Kaydol<span></span></span></a></h6>
						</form>

					</div>
					<div class="copyright text-center">
						<p>© Hüseyin Yaman|Efe Göktepe</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
