@model UcusRez.Models.Kayit
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_GirisLayout.cshtml";
}

<section class="form-26-1">
	<div class="form-26-mian">
		<div class="layer">
			<div class="wrapper">
				<div class="form-inner-cont">
					<div class="forms-26-info">
						<h2>Kaydol</h2>


					</div>
					<div class="form-right-inf">
						<p style="color:red;">@ViewBag.error</p>
						<p style="color:darkgreen;">@ViewBag.correct</p>
						<form action="Register" method="post" class="signin-form">
							<div class="forms-gds">
								<div class="form-input">
									<input type="text" asp-for="KayitName" placeholder="Ad" required />
								</div>
								<div class="form-input">
									<input type="text" asp-for="KayitSurname" placeholder="Soyad" required />
								</div>
								<div class="form-input">
									<input type="email" asp-for="KayitMail" placeholder="Email" required />
								</div>
								<div class="form-input">
									<input type="password" asp-for="KayitPassword" placeholder="Şifre" required />
								</div>
								<div class="form-input">
									<input type="password" asp-for="ConfKayitPassword" placeholder="Şifreyi onaylayınız" required />
								</div>
								<div class="form-input"><button class="btn">Kaydol</button></div>
							</div>
							<h6 class="already">Hesabınız var mı? <a href="Login"><span>Giriş Yap<span></span></span></a></h6>
						</form>

					</div>
					<div class="copyright text-center">
						<p>© Hüseyin Yaman|Efe Göktepe</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


