<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/open/css/login.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/open/css/register.css" type="text/css" media="all" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
