@model UcusRez.Models.Bilet
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/ui/styles.css" />
</head>
<body>
    <nav>
        <div class="nav__logo">UÇACAKSIN</div>
        
        <p style="color: white;">Hoş Geldiniz <br /> @ViewBag.username</p>
        @if (ViewBag.username != "")
        {
            <button class="btn2" onclick="redirectToHomePage('/Anasayfa/Index')">Çıkış Yap</button>
      
        }
        <script>
            function redirectToHomePage(page) {
                window.location.href = page;
            }
        </script>
    </nav>
   

    <section class="section__container booking__container">
        <div class="booking__nav">
            <span>Ekonomi Sınıfı</span>
        </div>
        <form action="Hosgeldin" method="post">
            <div class="form__group">
                <span><i class="ri-flight-takeoff-line"></i></span>
                <div class="input__content">
                    <p>İsim</p>
                    <div class="input__group">
                        <input type="text" asp-for="YolcuAd" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-flight-takeoff-line"></i></span>
                <div class="input__content">
                    <p>Soyisim</p>
                    <div class="input__group">
                        <input type="text" asp-for="YolcuSoyad" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-flight-takeoff-line"></i></span>
                <div class="input__content">
                    <p>Cinsiyet</p>
                    <div class="input__group">
                        <input type="text" asp-for="YolcuCinsiyet" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-flight-takeoff-line"></i></span>
                <div class="input__content">
                    <p>Pasaport No</p>
                    <div class="input__group">
                        <input type="text" asp-for="YolcuPasaport" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-flight-takeoff-line"></i></span>
                <div class="input__content">
                    <p>Doğum tarihi</p>
                    <div class="input__group">
                        <input type="date" asp-for="YolcuDogumTarihi" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-flight-takeoff-line"></i></span>
                <div class="input__content">
                    <p>Email</p>
                    <div class="input__group">
                        <input type="email" asp-for="YolcuMail" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-flight-takeoff-line"></i></span>
                <div class="input__content">
                    <p>Nereden</p>
                    <div class="input__group">
                        <input type="text" asp-for="KalkisSehri" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-flight-land-line"></i></span>
                <div class="input__content">
                    <p>Nereye</p>
                    <div class="input__group">
                        <input type="text" asp-for="VarisSehri" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-calendar-line"></i></span>
                <div class="input__content">
                    <p>Gidiş Tarihi</p>
                    <div class="input__group">
                        <input type="date" asp-for="KalkisTarihi" />
                    </div>
                </div>
            </div>
            <div class="form__group">
                <span><i class="ri-calendar-line"></i></span>
                <div class="input__content">
                    <p>Koltuk No</p>
                    <div class="input__group">
                        <input type="text" asp-for="KoltukNumarasi" />
                    </div>
                </div>
            </div>
            <button class="btn3"><i>Rezervasyon Oluştur</i></button>
        </form>
    </section>

    
    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>UÇACAKSIN</h3>
                <p>
                   Aradığınız destinasyona en uygun fiyata, avantajlı paketler ile dünyanın dört bir yanına sizleri uçuruyoruz!
                </p>
            </div>
            <div class="footer__col">
                <h4>İletişim</h4>
                <p>+90 (539) 446 1775</p>
                <p>+90 (506) 365 5797</p>
                <p>huseyin.yaman2@ogr.sakarya.edu.tr</p>
                <p>efe.goktepe@org.sakarya.edu.tr</p>
            </div>
        </div>
        <div class="section__container footer__bar">
            <p>Copyright © Hüseyin Yaman & Mehmet Efe Göktepe</p>

            <div>
                @RenderBody()
            </div>
        </div>
    </footer>
</body>
</html>
